$font-family: "Avenir", "Helvetica Neue", "Lato", "Segoe UI", Helvetica, Arial,
  sans-serif;

$font-small: 12px;
$font-medium: 16px;
$font-large: 21px;
$font-x-large: 28px;

$black: #000;
$color-white: #fff;
$color-dodger-blue: #2196f3;
$color-salem: #0f9d58;
$color-punch: #db4437;

$global-radius: 4px;

// Color Scheme

// Basic colors
$primary: #6699ff; // light blue
$secondary: #f5ede3; // light tan
$tertiary: #e1d4c0; // mid tan
$quadrant: #104386; // dark blue
$fracture: #ff6600; // orange
$black: #333333; // off black

// Create a map for your theme
$stoic: (
  bg: $secondary,
  fg: $quadrant,
  txt: $quadrant,
  blk: $black,
  one: $primary,
  two: $secondary,
  three: $tertiary,
  four: $quadrant,
  five: $fracture
);

// Simply change the variable $theme
$theme: $stoic;

// Color setting helper function
@function themeColor($key) {
  $val: map-get($theme, $key);
  @return $val;
}

$cubic-bezier: cubic-bezier(0.39, 0.575, 0.565, 1);
