@import "../../styles/settings.scss";
@import "../../styles/core/helpers.scss";
@import "../../styles/core/animate.scss";
@import "../../styles/core/rubberBand.scss";
@import "../../styles/core/bp-icon.scss";
@import "../../styles/core/container.scss";

footer {
  z-index: 3;

  margin: 0 2em 2em;

  div {
    display: block;

    width: 2em;
    height: 0.15em;
    margin: 0;

    background-color: #b3b5ff;
  }
}

.footer-message {
  margin: 0.5em 0;

  text-align: left;

  color: #b3b5ff;
}

.footer-email {
  display: block;

  margin-top: 0.5em;

  color: #b3b5ff;

  font-size: 1.4em;
  font-weight: bold;
}

@media screen and (min-width: 40em) {
  footer {
    margin: 5em 5em;
  }
  .footer-message {
    font-size: 1.6em;
  }

  .footer-email {
    font-size: 2.5em;
  }
}

@media screen and (min-width: 60em) {
  footer {
    margin: 5.5em 10em;
  }
}
