.button {
  position: relative;

  display: inline-block;
  overflow: hidden;

  margin: 0 25px;
  padding: 0;

  cursor: pointer;

  color: #b3b5ff;
  border: none;
  background: none;

  font-size: 1.31em;
}

.button:focus {
  outline: none;
}

.button:hover {
  color: #cecece;
}
