.content__item--header-large {
  margin: 0;

  text-align: center;

  color: #fff;

  font-size: 3.5em;
  font-weight: normal;
}

.content__item--header-medium {
  margin: 0.25em;

  color: #685884;

  font-size: 1.95em;
  font-weight: normal;
}

.content__item-img {
  display: block;
  flex: none;

  max-width: 80px;
  max-height: 80vh;
  margin: 110px auto 60px;
}
