@import "./ContentItemParagraph.scss";

.footer {
  margin-top: 70px;
  margin-bottom: 50px;

  text-align: center;

  color: #7c7c7c;

  font-size: 13px;
  font-weight: 100;
}

.footer > p {
  @extend .item-paragraph;
  > a {
    color: white;

    font-weight: bolder;
  }
}
