@import "../../styles/core/container.scss";
/*
**
*** Intro Styles
**
*/
.portfolio {
  color: #b3b5ff;
  background: #222125;
  background: linear-gradient(1deg, #5c5edc, #222125);

  font-size: 100%;

  @extend .container;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.inner__container {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 65%;
  min-height: 24em;
}

.showcase__title {
  margin: 2em 1em 0 0;
}

.portfolio__body {
  margin: 2em;
}
@media screen and (min-width: 40em) {
  .portfolio__body {
    margin: 5em;
  }
}

@media screen and (min-width: 60em) {
  .portfolio__body {
    margin: 5em 10em;
  }
}
