@import "../../styles/core/container.scss";
/*
**
*** Intro Styles
**
*/
.portfolio-noise {
  position: absolute;
  z-index: 2;

  display: block;

  width: 100%;
  height: 100%;

  opacity: 0;
  background: url("/static/broken-noise.png");
}

.portfolio {
  background: #222125;
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

  font-size: 100%;

  @extend .container;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:after {
    position: absolute;
    z-index: 1;

    display: block;

    width: 100%;
    height: 100%;

    content: "";

    background: linear-gradient(1deg, #5c5edc, #222125);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}

.inner__container {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 65%;
  min-height: 24em;
}

.showcase__title {
  margin: 2em 1em 0 0;
}

.portfolio__body {
  z-index: 3;

  margin: 2em;
}
@media screen and (min-width: 40em) {
  .portfolio__body {
    margin: 5em;
  }
}

@media screen and (min-width: 60em) {
  .portfolio__body {
    margin: 5em 10em;
  }
}
