@import "../../styles/core/container.scss";
/*
**
*** Intro Styles
**
*/
.portfolio {
  @extend .container;
}

.inner__container {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 65%;
  min-height: 24em;
}
