/*
**
*** Slide Styles
**
*/
.slide {
  position: absolute;
  top: 0;

  visibility: hidden;

  width: 100%;

  opacity: 0;
}

.slide--current {
  position: relative;
  z-index: 100;

  visibility: visible;

  opacity: 1;
}

.slide__mover {
  position: relative;
  z-index: 100;
}

.slide__title {
  width: 100%;
  margin: 0 auto;
  padding: 1em 0 0 0;

  cursor: pointer;
  cursor: hand;
  text-align: center;

  font-size: 1.75em;
  font-weight: normal;
}

// <pre> element is used since react wraps loose text in spans...causing the original styles to break
.slide__title pre {
  display: inherit;

  margin: inherit;

  white-space: inherit;

  font-family: inherit;
}

.slide__title span {
  display: block;

  letter-spacing: 2px;
  text-transform: uppercase;

  color: #35303d;

  font-size: 55%;
  font-weight: bold;
}

@media screen and (max-width: 40em) {
  .slide {
    top: 25px;

    transform: scale(0.7);
  }
}

@media screen and (max-width: 20em) {
  .slide {
    top: 22px;
  }
}
