@import "../../styles/settings.scss";

.hero__intro {
  margin-bottom: 5em;
}

@keyframes AnimatedGradient {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}
@mixin animatedGradientText {
  animation: AnimatedGradient 32s ease infinite;

  background: linear-gradient(90deg, #e21377, #5c5edc);
  -webkit-background-clip: text;
  background-size: 400% 400%;

  -webkit-text-fill-color: transparent;
}
@mixin animatedGradientBg {
  animation: AnimatedGradient 32s ease infinite;

  background: linear-gradient(90deg, #e21377, #5c5edc);
  background-size: 400% 400%;
}

.hero__hr {
  width: 100%;
  max-width: 41em;
  height: 0.15em;
  margin: 0.5em 0;

  border-radius: 0.01em;

  @include animatedGradientBg();
}

.hero__text_large {
  margin: 0.5em 0 0;

  color: #5c5edc;

  font-size: 1.75em;
  line-height: 1.1em;

  @include animatedGradientText();
}

.hero__text_medium {
  margin: 0.5em 0 0;

  color: #b3b5ff;

  font-size: 1.25em;
}

.hero__button {
  display: inline;

  padding: 0 0.5em;
  padding: 0.2em 0.3em;

  cursor: pointer;
  transition: background 1s $cubic-bezier;

  color: #b3b5ff;
  border: none;
  border-radius: 0.08em;
  background: #5c5edc;

  font-size: 1.4em;

  &:hover {
    background: darken(#5c5edc, 4);
  }

  &:focus {
    border: none;
    outline: none;
  }
}

@media screen and (min-width: 60em) {
  .hero__intro {
    width: 50%;
    margin-right: auto;
    margin-bottom: 10em;
  }
}
