.process__body {
  margin-top: 4em;

  color: #b3b5ff;
  p {
    width: 90%;

    text-align: left;

    color: #b3b5ff;

    font-size: 1.15em;
    @media screen and (min-width: 30em) {
      .hero__intro {
        max-width: 60%;
      }
    }
  }
}

.process__title_container {
  position: relative;

  height: 9em;
  margin-top: 4em;
  margin-bottom: 1em;
  svg {
    position: absolute;
    z-index: 1;

    width: 6.25em;
    // left: -0.9em;
    // height: 10em;
    // padding: 1em 0;

    // transform: scale(0.85);
  }
  .process__title {
    position: relative;
    z-index: 2;
    // top: 1em;
    // left: 0.6em;

    font-size: 3em;
  }
  &.showcase {
    height: 0;
    margin-bottom: 4em;
  }
  .showcase {
    // top: 0.5em;
    margin-bottom: 0;
  }
}
